<h1>Types</h1>
<%= pb_rails_with_docs("button", props: {text:"Primary", type: "primary"}) %>
<%= pb_rails_with_docs("button", props: {text:"Danger", type: "danger"}) %>
<%= pb_rails_with_docs("button", props: {text:"Dashed", type: "dashed"}) %>

<h1>Sizes</h1>
<%= pb_rails_with_docs("button", props: {text:"Small", size: "small"}) %>
<%= pb_rails_with_docs("button", props: {text:"Large", size: "large"}) %>
