<%= javascript_pack_tag 'pb_button' %>
<h1>Types</h1>
<%= pb_react_with_docs("button", props: {text:"Default" }) %>
<%= pb_react_with_docs("button", props: {text:"Primary", type: "primary" }) %>
<%= pb_react_with_docs("button", props: {text:"Danger", type: "danger" }) %>
<%= pb_react_with_docs("button", props: {text:"Dashed", type: "dashed" }) %>

<h1>Sizes</h1>
<%= pb_react_with_docs("button", props: {text:"Small", size: "small" }) %>
<%= pb_react_with_docs("button", props: {text:"Large", size: "large" }) %>
