<%= javascript_pack_tag 'pb_button' %>
<h1>Types</h1>
<%= pb_react("button", props: {text:"Default", show_props: defined?(@kit)}) %>
<%= pb_react("button", props: {text:"Primary", type: "primary", show_props: defined?(@kit)}) %>
<%= pb_react("button", props: {text:"Danger", type: "danger", show_props: defined?(@kit)}) %>
<%= pb_react("button", props: {text:"Dashed", type: "dashed", show_props: defined?(@kit)}) %>

<h1>Sizes</h1>
<%= pb_react("button", props: {text:"Small", size: "small", show_props: defined?(@kit)}) %>
<%= pb_react("button", props: {text:"Large", size: "large", show_props: defined?(@kit)}) %>
