<%
  props ||= {}
  size = props.fetch(:size, 'md')
  position = props.fetch(:position, 'left')
  position = position.length > 0 ? "_#{position}" : ''
  transparant = props.fetch(:transparant, false)
  transparant = transparant ? "_transparant" :  ''
  dark = props.fetch(:dark, false)
  dark = dark ? "_dark" :  ''
%>

<div class="sidebar_<%=size%><%=position%><%=dark%><%=transparant%>">
  <%= yield %>
</div>
