<!DOCTYPE html>
<html>
<head>
  <title>Nitro sg</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "nitro_sg/application", media: "all" %>
  <%= javascript_include_tag "nitro_sg/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
