<!DOCTYPE html>
<html>
<head>
  <title>Nitro sg</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag "pb_calendar" %>
  <%= stylesheet_pack_tag "pb_calendar" %>
</head>
<body>

<%= yield %>

</body>
</html>
