<!DOCTYPE html>
<html>
<head>
  <title>Nitro sg</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'hello_react' %>
</head>
<body>

<%= react_component('HelloReact', name: 'a component rendered from a view') %>

<%= yield %>

</body>
</html>
